*{margin: 0;padding: 0;box-sizing: border-box;}
.board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.board-row{
    display: flex;
    /* border: 1px solid green; */
}
.square{
    height: 100px;
    width:100px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;


}